/* General styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s, color 0.3s;
}

.side-menu {
    height: 100vh; /* Full height */
    position: fixed;
    top: 0; /* Touches the top of the browser */
    left: 0; /* Touches the left of the browser */
    width: 250px;
    background-color: #ffffff;
    color: #000000;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 0 10px 10px 0; /* Rounded edges on the right side */
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: width 0.3s, background-color 0.3s, color 0.3s;
}

.side-menu:hover {
    width: 260px;
}

.menu-title {
    font-size: 1.2rem;
    text-align: center;
    margin: 20px 0; /* Margin to separate from the top */
    font-weight: bold;
}

.report-list {
    width: 100%; /* Ensures the ul takes the full width of the side menu */
    overflow-y: auto;
    flex-grow: 1;
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

/* Hide scrollbar for Webkit browsers (Chrome, Safari, etc.) */
.report-list::-webkit-scrollbar {
    display: none;
}

.report-list:hover {
    scrollbar-width: thin; /* Show thin scrollbar on hover for Firefox */
    scrollbar-color: #d4d4d4 transparent; /* Custom color for scrollbar on hover for Firefox */
}

/* Show scrollbar for Webkit browsers (Chrome, Safari, etc.) on hover */
.report-list:hover::-webkit-scrollbar {
    width: 5px;
}

.report-list:hover::-webkit-scrollbar-track {
    background: transparent; 
}

.report-list:hover::-webkit-scrollbar-thumb {
    background-color: #d4d4d4; /* Change this color to your preference */
    border-radius: 10px; /* Rounded edges for the scrollbar thumb */
    border: 2px solid transparent; /* Creates some space around the thumb */
}

.report-list:hover::-webkit-scrollbar-thumb:hover {
    background-color: #a6a6a6; /* Change this color to your preference */
}

.side-menu ul {
    list-style-type: none;
    padding: 0;
}

.side-menu li {
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, padding 0.3s;
    display: flex;
    align-items: center;
    font-size: 0.9rem; /* Smaller font size */
}

.side-menu li:hover {
    background-color: #f1f1f1;
    padding-left: 30px;
}

.side-menu li.active {
    background-color: #007bff;
    color: #ffffff;
    padding-left: 30px;
    border-radius: 5px;
}

.side-menu li.active:hover {
    background-color: #0056b3;
}

.content {
    margin-left: 250px;
    padding: 40px;
    transition: margin-left 0.3s;
}

#reportContainer {
    height: 600px;
    border: 1px solid #dee2e6;
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

#loadingBarContainer {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

#loadingBar {
    height: 5px;
    background-color: red;
    width: 0;
    transition: width 0.3s, background-color 0.3s;
    border-radius: 2.5px; /* Rounded edges for the loading bar */
}
